<div class="jumbotron">
  <div class="icon-container">
    <!-- Place the FA icon within the container -->
    <i class="fas fa-database"></i>
  </div>
  <h1 class="jumbotron-heading">

    WELCOME to GO Path SQL</h1>
  <div class="overview-buttons">
    <button (click)="showContent('sqloverview')" [class.active-button]="activeButton === 'sqloverview'"
      class="btn overview">
      Overview
    </button>
    <button (click)="showContent('sqlcommands')" [class.active-button]="activeButton === 'sqlcommands'"
      class="btn sql-commands">
      SQL Commands
    </button>

    <button (click)="showContent('dql')" [class.active-button]="activeButton === 'dql'"
      class="btn sql-commands">
      DQL
    </button>
    <button routerLink="/data-types" [class.active-button]="activeButton === 'dataTypes'" class="btn data-types" (click)="showContent('dataTypes')">
      Data Types
  </button>
  
  <button routerLink="/null" [class.active-button]="activeButton === 'null'" class="btn null" (click)="showContent('null')">
      Null
  </button>
  
  <button routerLink="/constraints" [class.active-button]="activeButton === 'constraints'" class="btn constraints" (click)="showContent('constraints')">
      Constraints
  </button>
  
  <button routerLink="/joins" [class.active-button]="activeButton === 'joins'" class="btn joins" (click)="showContent('joins')">
      Joins
  </button>
  
  <button routerLink="/math-functions" [class.active-button]="activeButton === 'mathFunctions'" class="btn math-functions" (click)="showContent('mathFunctions')">
      Math Functions
  </button>
  
  <button routerLink="/string" [class.active-button]="activeButton === 'string'" class="btn string" (click)="showContent('string')">
      String
  </button>
  
  <button routerLink="/dates" [class.active-button]="activeButton === 'dates'" class="btn dates" (click)="showContent('dates')">
      Dates
  </button>
  
  <button routerLink="/ranking" [class.active-button]="activeButton === 'ranking'" class="btn ranking" (click)="showContent('ranking')">
      Ranking
  </button>
  
  <button routerLink="/tcl" [class.active-button]="activeButton === 'tcl'" class="btn tcl" (click)="showContent('tcl')">
      TCL
  </button>
  
  <button routerLink="/case-statement" [class.active-button]="activeButton === 'caseStatement'" class="btn case-statement" (click)="showContent('caseStatement')">
      Case Statement
  </button>
  
  <button routerLink="/if-while" [class.active-button]="activeButton === 'ifWhile'" class="btn if-while" (click)="showContent('ifWhile')">
      IF & WHILE
  </button>
  
  <button routerLink="/user-defined-functions" [class.active-button]="activeButton === 'userDefinedFunctions'" class="btn user-defined-functions" (click)="showContent('userDefinedFunctions')">
      User Defined Functions
  </button>
  
  <button routerLink="/procedures" [class.active-button]="activeButton === 'procedures'" class="btn procedures" (click)="showContent('procedures')">
      Procedures
  </button>
  
  </div>
</div>

<div class="content">
  <ng-container *ngIf="selectedSection === 'sqloverview'">
    <app-sqloverview></app-sqloverview>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'sqlcommands'">
    <app-sqlcommands></app-sqlcommands>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'dql'">
    <app-dql></app-dql>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'dataTypes'">
    <app-data-types></app-data-types>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'null'">
    <app-null></app-null>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'constraints'">
    <app-constraints></app-constraints>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'joins'">
    <app-joins></app-joins>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'mathFunctions'">
    <app-math-functions></app-math-functions>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'string'">
    <app-string></app-string>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'dates'">
    <app-dates></app-dates>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'ranking'">
    <app-ranking></app-ranking>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'tcl'">
    <app-tcl></app-tcl>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'caseStatement'">
    <app-case-statement></app-case-statement>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'ifWhile'">
    <app-if-while></app-if-while>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'userDefinedFunctions'">
    <app-user-defined-functions></app-user-defined-functions>
  </ng-container>
  <ng-container *ngIf="selectedSection === 'procedures'">
    <app-procedures></app-procedures>
  </ng-container>
</div>
