<div class="if-while-container">
    <div class="sql-container">
      <h3 class="sql-title">SQL IF Statement:</h3>
      <pre class="sql-code">{{ exampleIfSQL }}</pre>
      <h3 class="sql-title">Output:</h3>
      <pre class="sql-output">{{ exampleIfOutput }}</pre>
    </div>
  
    <div class="sql-container">
      <h3 class="sql-title">SQL WHILE Loop:</h3>
      <pre class="sql-code">{{ exampleWhileSQL }}</pre>
      <h3 class="sql-title">Output:</h3>
      <pre class="sql-output">{{ exampleWhileOutput }}</pre>
    </div>
  
    <div class="sql-container">
      <h3 class="sql-title">SQL UPDATE Statement:</h3>
      <pre class="sql-code">{{ exampleUpdateSQL }}</pre>
      <h3 class="sql-title">Output:</h3>
      <pre class="sql-output">{{ exampleUpdateOutput }}</pre>
    </div>
  </div>
  