/* Button container styles */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adjust the spacing between buttons */
    text-align: center;
    margin-bottom: 20px;
}

/* Button row styles */
.button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adjust the spacing between buttons */
}

/* Date button styles */
.category-button {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    min-width: 150px; /* Set a minimum width for buttons */
    white-space: nowrap; /* Prevent wrapping of buttons */
}

.category-button:hover {
    background-color: #e74c3c;
}

/* Active category button styles */
.active-category-button {
    background-color: #0072ff;
    color: #fff;
}

/* Button container for small screens */
@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .category-button {
        width: 100%; /* Make buttons full width on smaller screens */
        min-width: auto; /* Remove the minimum width */
    }
}
