#canvas-container,
.screen-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* Make sure the containers are positioned */
}

body {
  margin: 0;
  /* Reset default margin for the body element */
  padding: 0;
  /* Reset default padding for the body element */
  background-image: url('./../../assets/milkyway.jpg');
  /* Set the path to your image */
  background-size: cover;
  /* Adjust this to control the image size */
  background-repeat: no-repeat;
  background-position: center center;
}


.wheel-text {
  transform-origin: center;
  transform: rotate(90deg);
  /* Adjust the rotation angle as needed */
}

.go-circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #0099cc;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  z-index: 1;
  /* Set a lower z-index for the "GO" circle */
}

.line-container {
  position: fixed;
  /* Make sure the SVG container is positioned */
  width: 800px;
  /* Set the width and height of the SVG container as needed */
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Center the SVG container */
  z-index: 2;
  /* Set a higher z-index for the SVG container to be on top of the "GO" circle */
}


.line-container {
  display: block;
  margin: 0 auto;
  transform-origin: center;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -50%) rotate(90deg);
  }
}

.screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-container {
  animation: rotate 10s linear infinite;
}


.line-container1 {
  position: fixed;
  width: 240px; /* Set the desired width */
  height: 240px; /* Set the desired height */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the SVG container */
  z-index: 2;
  display: flex;
  flex-wrap: wrap; /* Allow boxes to wrap to the next row */
  justify-content: space-between; /* Add space between columns */
  align-content: space-between; /* Add space between rows */
}







